
*{
    text-align: center;
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;}

html{
    background-color:rgb(255, 248, 190);
}

body{
    width: 640px; 
    margin: auto;   
}

h1{
    font-size: 50px;
}

img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

p{
    font-size: 1.1rem;
}

#introduct{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    margin: auto; 
}

#funfacts{
    background-color: white;
    border-radius: 10px;
    width: 550px;
    height: 150px;
    margin: auto; 
}

